body{
    background: #111;
    font-family: sans-serif;
}
#center{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
h1{
    background: url('https://i.imgur.com/1R57Hlq.gif');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}